.Select {
  margin-bottom: 20px;
}

.Select p {
  font-weight: 600;
  padding-bottom: 5px;
}

.Select p span {
  font-weight: 700;
  color: #ff162e;
}

.Select select {
  height: 34px;
  width: 100%;
  background: #fff;
  border: 1px solid #cdd0d5;
  padding: 0 10px;
  border-radius: 4px;
}

.Select select:focus {
  border: 1px solid #3495db;
}

@media screen and (max-width: 480px) {
  .Select {
    margin-bottom: 12px;
  }
}
