body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  color: #081935;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

textarea,
select,
input:focus {
  outline: none;
}

h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 800;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
    line-height: 24px;
  }
}
